---
export const prerender = false;

import FootprintsMap from "../components/features/footprints/FootprintsMap.svelte";
import I18nKey from "../i18n/i18nKey";
import { i18n } from "../i18n/translation";
import MainGridLayout from "../layouts/MainGridLayout.astro";
import { getAllFootprints } from "../lib/repositories/footprints";

const footprints = getAllFootprints();
---

<MainGridLayout
	title={i18n(I18nKey.footprints)}
	description={i18n(I18nKey.footprintsSubtitle)}
>
	<script>
		import("../scripts/right-sidebar-layout.js");
	</script>

	<div class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative">
		<div class="card-base z-10 px-9 py-6 relative w-full">
			<div class="flex flex-col items-start justify-center mb-8">
				<h1
					class="text-4xl font-bold text-black/90 dark:text-white/90 mb-2 relative
						before:w-1 before:h-8 before:rounded-md before:bg-[var(--primary)]
						before:absolute before:top-1/2 before:-translate-y-1/2 before:-left-4"
					data-i18n-key="footprints"
				>
					{i18n(I18nKey.footprints)}
				</h1>
				<p
					class="text-lg text-black/60 dark:text-white/60"
					data-i18n-key="footprintsSubtitle"
				>
					{i18n(I18nKey.footprintsSubtitle)}
				</p>
			</div>

			<FootprintsMap client:load places={footprints} />
		</div>
	</div>
</MainGridLayout>
